* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  color: #2c3d51;
  font-family:  helvetica;
}
.container h2 {
  font-size: 25px;
}
.container p {
  line-height: 26px;
  font-size: 16px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* liste */
.list-inline li {
  height: 100%;
  display: inline-block;
}
.list-inline li:first-child {
  padding: 0;
}
.list-inline a {
  color: #334758;
  text-decoration: none;
}
.list-inline a:hover {
  text-decoration: underline;
}
.list-vertical {
  text-decoration: none;
  list-style-type: none;
}
.list-vertical a {
  text-decoration: none;
}
.list-vertical a:hover {
  text-decoration: underline;
}
/* pulsanti */
.btn {
  display: inline;
  height: 100%;
  padding: 10px;
  border: 1px solid #FE775A;
  border-radius: 5px;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}
.btn:hover {
  text-decoration: none;
}
.btn-orange {
  background-color: #FE775A;
  color: white;
}
.btn-orange:hover {
  background-color: #ffbcac;
  border: 1px solid #ffbcac;
}
.btn-white {
  background-color: #ffffff;
  color: #fd7b5a;
}
.btn-white:hover {
  background-color: #efefef;
}

/* header///////////////////////////////////////////////// */
#header-top {
  position: fixed;
  width: 100%;
  line-height: 60px;
  background-color: rgb(202, 253, 255);
  border-bottom: 1px solid #2c3d51;
  z-index: 4;
}
#header-top-left {
  float: left;
  height: 100%;
}
#header-top-left li a {
  padding-right: 10px;
  text-decoration: none;
  border-right: 1px solid black;
}
#header-top-left li:last-child a {
  border-right: 0px;
  padding-left: 10px;
}
#header-top-left i {
  padding-right: 8px;
}
#header-top-left span {
  padding-right: 8px;
}
#header-top-left span:hover, #header-top-left li:last-child a:hover {
  text-decoration: underline;
}
#header-top-right {
  float: right;
  height: 100%;
}
#header-top-right i {
  color: #2c3d51;
}
#header-top-right button {
  padding: 8px;
  margin: 0 8px;
}
/* headr-top */
/* menu */
#menu {
  width: 100%;
  padding-top: 60px;
  background: white;
  line-height: 60px;
}
#menu img {
  vertical-align: middle;
}
#menu ul {
  float: right;
}
#menu li a {
  padding: 0 10px;
}
/* /menu */

/* jumbotron */
#jumbotron {
  position: relative;
  width: 100%;
  height: 620px;
  padding: 50px 0;
  background-color: #FFF3EE;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
}
#jumbotron::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: rgb(167, 233, 226);
  border-bottom: 3px solid #2c3d51;
  border-top: 3px solid #2c3d51;
}
/* body messages */
#body-messages {
  position: fixed;
  right: 1%;
  bottom: 5%;
  z-index: 4;
  width: 20%;
}
#top-img img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  cursor: pointer;
}
#text-messages p {
  line-height: 25px;
  background-color: white;
  margin: 35px 0 20px;
  padding: 30px 25px;
  border: 1px solid white;
  border-radius: 5px;
  font-family: helvetica;
  color: #2c3d51;
  cursor: pointer;
}
#text-messages img {
  position: absolute;
  right: 10px;
  top: 45px;
  width: 20px;
  height: 20px;
}
#bottom-messages{
  position: relative;
  width: 100%;
  height: 60px;
}
#comment {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60px;
  line-height: 60px;
  background-color: #425B76;
  text-align: center;
  border-radius: 50%;
}
#comment img {
  width: 40px;
  vertical-align: middle;
  cursor: pointer;
}
/* /body messages */

#jumbotron-title {
  width: 40%;
}
#jumbotron-title h1 {
  padding-bottom: 20px;
  font-size: 2.875rem;
  padding-bottom: 30px;
}
#jumbotron-title p {
  line-height: 28px;
  padding: 10px 0;
  font-size: 15px;
}
#jumbotron-title button {
  margin: 10px 0;
  padding: 16px;
  font-size: 20px;
  font-weight: bolder;
}
#jumbotron-title p:last-child {
  font-size: 12px;
  font-weight: bolder;
}
/* /jumbotron */
/*/ header ////////////////////////////////////////////////*/

/* main ///////////////////////////////////////////////////*/

/* main-top */
#back-main-top {
  width: 100%;
  padding: 30px 0;
  background-color: rgb(245, 248, 250);
}
#top-row, #middle-row {
  margin: 20px 0;
}
/* top row */
#top-row {
  width: 100%;
  text-align: center;
}
#top-row img {
  width: 200px;
}
#top-row h2 {
padding: 20px 0;
}
#top-row p {
  padding: 10px 60px 30px;
}
/* /top row */

/* elementi in piu caselle in main-top */
/* cerchio con v nella middle-row e columns */
.fa-chevron-circle-down {
  color: #FE775A;
}
.list-vertical .fa-chevron-circle-down {
  position: absolute;
  left: 0;
}
/* immagini dei corsi in middle-row e columns */
.img-subject {
  width: 50%;
  height: 40%;
  padding: 15px;
}
/* contenuto dei corsi middle row e columns */
#columns h3, #middle-row h3 {
  padding: 30px 0;
}
#columns h4, #middle-row h4 {
  text-transform: uppercase;
  font-size: 15px;
}
#columns button, #middle-row button {
  margin: 30px;
  padding: 20px;
}
#middle-row, .colomn-subject {
  background-color: #FFFFFF;
}

/* middel row */
#middle-row {
  width: 100%;
}
#middle-row-left {
  float: left;
  width: 35%;
  padding: 50px;
  text-align: center;
}
#middle-row-left img {
  padding: 0;
}
#middle-row-right {
  float: left;
  width: 64%;
  padding: 30px 20px 30px 0;
}
#middle-row-right p {
  padding-bottom: 20px;
  border-bottom: none;
}
#middle-row-right h4 {
  display: inline-block;
}
#middle-row-right li {
  padding: 20px 12px;
}
#middle-row-right hr {
  width: 60%;
  margin: 0 40px;
  display: inline-block;
  color: #2c3d51;
  background-color: #2c3d51;
  border: 1px solid #2c3d51;
  border-radius: 1px;
}
/* columns */
.top-column {
  width: 100%;
  height: 400px;
  padding-bottom: 50px;
  border-bottom: 2px solid #2c3d51;
  border-radius: 1px;
}
.bottom-column {
  position: relative;
}
.colomn-subject {
  float: left;
  width: 30%;
  text-align: center;
  padding: 20px 25px;
  margin-right: 5%;
}
#columns > div:last-child  {
  margin: 0;
}
#columns h4 {
  padding: 20px;
}
#columns li {
  padding-left: 50px;
  line-height: 20px;
  text-align: left;
}

/*/ main-top */

/*main-middle griglia */
#back-main-middle {
  width: 100%;
  background-image: linear-gradient(to right,#32bec6,#00BDA5 ) ;
  padding: 60px 0 120px;
}
#main-middle {
  padding: 20px 0;
  text-align: center;
  color: white;
}
#title-grid {
  padding-bottom: 80px;
}
#title-grid h2 {
  padding: 30px 80px;
}
#grid {
  margin-bottom: 80px;
}
.cube {
  width: calc(100% / 4);
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  float: left;
}
div #grid .cube:nth-child(1n + 5) {
  border-bottom: none;
}
div #grid .cube:nth-child(4n + 4){
  border-right: none;
}
.cube img {
  width: 120px;
  height: 50px;
  margin-top: 20px;
}
#grid .cube:first-child img {
  width: 50px;
}
#grid .cube:nth-child(2) img{
  width: 90px;
}
#grid .cube:nth-child(5) img {
  width: 170px;
}
#grid .cube:nth-child(1n+6) img {
  width: 30px;
}
.cube h3 {
  font-size: 45px;
  padding: 10px;
}
.cube i {
  font-size: 16px;
  vertical-align: middle;
  padding: 5px;
}
.cube p {
  padding-bottom: 20px;
}
/*/ main-middle griglia */
/* main-bottom */
#back-main-bottom {
  width: 100%;
}
#main-bottom {
  width: 100%;
  height: 100%;
}
#main-bottom-customer {
  width: 100%;
  padding: 50px 0;
}
#customer-left {
  float: left;
  width: 40%;
  text-align: center;
}
#customer-left h2 {
padding: 20px 0;
font-size: 2.875rem;
padding-bottom: 30px;
}
#icons-right {
  float: left;
  width: 60%;
  height: 100%;
}
.brand {
  float: left;
  width: calc(100% / 4);
  text-align: center;
  line-height: 80px;
}
.brand img {
  width: 110px;
  vertical-align: middle;
}
.brand:first-child img {
  height: 12px;
}
.brand:nth-child(3) img {
  height: 30px;
}
#main-bottom-start {
  width: 100%;
  padding-bottom: 40px;
}
#start-left {
  float: left;
  width: 65%;
}
#start-left h2 {
  padding: 30px 0;
}
#start-left button {
  padding: 30px;
  margin: 30px 0;
}
#start-left p:last-child {
  font-size: 14px;
}
#start-right {
  float: left;
  width: 35%;
  text-align: right;
}
#start-right img {
  width: 80%;
}
/*/ main-bottom */
/* /main/////////////////////////////////////////////// */
/* footer ////////////////////////////////////////////*/
#back-footer {
  width: 100%;
  background-color: rgb(45, 62, 80);
}
#back-footer a {
  color: #cbd6e2;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 26px;
}
#back-footer .container {
  padding: 40px 0;
}
#back-footer a:hover {
  color: #0091ae;
}
/* footer-top */
#footer-nav {
  width: 100%;
  color: white;
}
#footer-nav .list-vertical {
  float: left;
  margin-right: 7%;
  padding: 25px 0;
}
#footer-nav > ul li:first-child  {
  font-size: 1.125rem;
  font-weight: 500;
  padding-bottom: 25px;
}
#footer-nav button {
  margin: 5px 0;
  background-color: #cbd6e2;
  border: 1px solid #cbd6e2;
  color: rgb(45, 62, 80);
  font-size: 10.5px;
  font-weight: 600;
}
#footer-nav button:hover {
  background-color: #0091ae;
  border: 1px solid #0091ae;
}
#social i {
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  padding-right: 20px;
}
/*/ footer-top */
/* footer-middle */
#footer-middle {
  border-bottom: 1px solid #cbd6e2;
  text-align: center;
}
#footer-middle a {
  text-align: center;
  padding-right: 20px;
}
/* /footer-middle */
/* footer-bottom */
#footer-bottom {
  padding: 20px 0;
  color: #cbd6e2;
}
#footer-logo {
  float: left;
}
#footer-logo img {
  cursor: pointer;
}
#footer-logo p {
  color: white;
  font-size: 15px;
}
#footer-copyright {
  float: right;
}
#footer-copyright li a {
  padding-right: 20px;
}
#footer-copyright li:last-child a {
  padding: 0;
}
/* /footer-bottom */
/*/ footer-top */
